.about {
  display: flex;
  align-items: center;
  padding: 50px;
  background-color: #ecf0f1;
}

.profileImage {
  border-radius: 50%;
  width: 150px;
  margin-right: 30px;
}

.details h2 {
  font-size: 32px;
  margin-bottom: 20px;
}
