.footer {
  background-color: #ecf0f1;
  padding: 50px 0;
  color: white;
  text-align: center;
}

.contactInfo {
  max-width: 1100px;
  margin: 0 auto;
}

.contactHeading {
  font-size: 3rem;
  color: #f66f1e;
  margin-bottom: 10px;
}

.subHeading {
  font-size: 2.5rem; /* Increased size for "Get in Touch" */
  margin-bottom: 40px;
  color: black;
}

.contactContainer {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profileImageContainer {
  position: relative;
  width: 60%; /* Takes up 60% of the right section */
  height: 100%;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.profileImageContainer:hover .profileImage {
  transform: scale(1.05);
}

.messageSection {
  width: 35%; /* Takes up 35% of the right section */
  padding: 20px;
  text-align: left;
}

.messageHeading {
  font-size: 1.8rem;
  color: #f66f1e;
}

.writeMessage {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  margin-top: 10px;
}

.contactDetails {
  margin-top: 30px;
  font-size: 1rem;
}

.contactDetails p {
  margin-bottom: 10px;
   color: black;
}

.inputFields {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.inputBox {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 2px solid #bdc3c7;
  background-color: #2B2B2B;
  color: white;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.inputBox:focus {
  border-color: #f66f1e;
  background-color: #2B2B2B;
  outline: none;
}

.textarea {
  padding: 15px;
  height: 120px;
  border-radius: 8px;
  border: 2px solid #bdc3c7;
  background-color: #2B2B2B;
  color: white;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.textarea:focus {
  border-color: #f66f1e;
  background-color: #2B2B2B;
  outline: none;
}

.sendMessageButton {
  background-color: #f66f1e;
  padding: 15px 25px;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.sendMessageButton:hover {
  background-color: #e65100;
}
